@import 'variables';
@import 'utilities';
@import 'item_grid';
@import 'mobile';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

h2, h3, h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    }

// navigation bar with logo
#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
 
    
    #logo {
        font-size: 2.5rem;
        line-height: 1.5;
        color: $main-color;
        padding:0 1rem 0 1rem;
        // background-color: $light-color;
        // border-radius: 10px;
        transition: color 0.7s;

        &:hover {
            color: $highlight-color;
        }

        i {
            color: $highlight-color;
        }
    }

    ul {
        display: flex;
    }
    
    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bolder;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s, color 0.5s;
        color: $light-color;

        &:hover {
            border-color: $highlight-color;
            color: #fff;
        }

        &.current {
            border-color: $shock-color;
        }
    }
}

// main showcase page
#header {
    &-home {    
        background: $background-img no-repeat center center/cover;
        height: 75vh;
        color: #fff;

        

        .header-content {
            text-align: center;
            padding-top: 15%;

            h1 {
                font-size: 3.5rem;
            }

        }
    }

    &-inner {
        background: $background-img no-repeat center center/cover;
        height: 30vh;
        color: #fff;
        border-bottom: 5px solid $highlight-color;
    }
}

// about section home a

#home {
    &-a {
        background: $light-color;

        .about-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        }
        .fas {
            color: $highlight-color;
            padding: 1rem 0;
        }
        .icon-a,
        .icon-c {
            background: $main-color;
            border-radius: 10px;
        }
        .icon-b,
        .icon-d {
            background: #fff;
            border-radius: 10px;
        }

        .btn-dark {
            margin-top: 1.5rem;
        }
    }


}

// about page
.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    .bio-image {
        height: 100%;
        width: 100%;
    }

    .bio {
        border-left: 5px $highlight-color solid;
    }

    h3 {
        padding: 1rem 0;
    }

    p {
        padding: 0 1rem 1rem 1rem;
        font-weight: 800;
    }
}

.about-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: $main-color;
        border-left: 5px solid $highlight-color;

        img {
            height: 100px;
            width: 100px;
            padding: 1rem;
            align-items: center;
            text-align: center;
            justify-self: center;
        }
    }

    .skills {
        background: $light-color;
        font-weight: 800;
        padding: 1rem 0;
        border-left: 5px solid $highlight-color;
    }

    .certs {
        background: $main-color;
        font-weight: 800;
        padding: 1rem 0;
        border-left: 5px solid $highlight-color;
    }
}

// Contact Page

#home {
    &-c {
        background: $dark-color;
        color: #fff;

        .btn-main {
            width: 30%;
        }

        .text-fields {
            display:grid;
            grid-template-areas: 
                'name email'
                'subject phone'
                'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;
            padding: .5rem;
           
            // Grid areas
            .name-input {
                grid-area: name;
            }
            .subject-input {
                grid-area: subject;
            }
            .email-input {
                grid-area: email;
            }
            .phone-input {
                grid-area: phone;
            }
            .message-input {
                grid-area: message;
                height: 100px;
            }

            .text-input {
                padding: 0.5rem 1rem;
            }

        }
    }
}

// portfolio page

#work-a {
    background: $light-color;
    color: $dark-color;

    .btn-dark {
        margin-bottom: 1rem;
    }
}


//Footer

#main-footer {
    background: $main-color;
    color: $highlight-color;
    height: 5rem;

    .footer-content {
       display: flex;
       justify-content: space-between;
       height: 5rem;
       align-items: center;

       .social .fab {
           margin-right: 1rem;
           border: 2px white solid;
           border-radius: 50%;
           height: 25px;
           width: 25px;
           line-height: 25px;
           text-align: center;
           justify-content: center;
           justify-items: center;
           padding-bottom: 1rem;        

           &:hover {
               background-color: $shock-color;
               color: #fff;
           }
       }

    }
}