@import 'variables';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background: $background-img center center/cover;
    height: 75vh;
    color: #fff;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #f4f4f4;
    opacity: 0.8;

    .logo {
        font-size: 2rem;
        line-height: 1.5;
        color: $main-color;
    }

    ul {
        display: flex;
        list-style-type: none;
            }
    
    li {
        list-style: none;
    }
}